body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 40px;
    width: 80%;
    max-width: 950px;
    border-radius: 15px;
    border: 2px solid black;
    text-align: center;
}

#verification_heading {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

#verification_subtext {
    font-size: 16px;
    color: #555;
    margin-bottom: 40px;
}

.code-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 30px;
}

.code {
    width: 75px;
    height: 85px;
    border-radius: 10px;
    border: 2px solid #ccc;
    font-size: 48px;
    text-align: center;
}

.code:focus {
    border-color: black;
    outline: none;
}

.note {
    background: #eee;
    padding: 15px;
    border-radius: 10px;
    color: #666;
    font-size: 14px;
}
