/*  your css code here. If applicable */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f6f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 800px;
    background: white;
    padding: 40px 30px;
    border: 3px solid #000;
    border-radius: 20px;
    text-align: center;
}

.container h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.container p {
    margin-bottom: 30px;
    color: graytext;
    font-size: 15px;
}

.code-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
}

.code-container .code {
    width: 70px;
    height: 70px;
    font-size: 40px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.info-box {
    width: 60%;
    margin: 0 auto;
    background: #eee;
    padding: 12px 20px;
    border-radius: 10px;
    color: #555;
    font-size: 14px;
}